@charset "utf-8";
/* CSS Document */
body{
	background:url(xcx2.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	/*background-size: 100% 100%;*/
}
#all{
	height:300px;
	width:900px;
	margin:auto;
}
#top{
	height:40px;
	width:900px;
	margin:0px 0px 10px 0px;
	background:-webkit-linear-gradient(left,white,blue);
	border-radius: 8px;
}
#bot{
	height:250px;
	weight:900px;
	background:#DFDADA;
	border-radius: 8px;
}
.w1{
	font-family: Verdana, 'Microsoft YaHei';
    font-size: 30px;
    font-weight: normal;
	margin-bottom: 13px;
}
#bot p{
	font-size: 26px;
    color:#65709C;
    line-height: 32px;
    margin-bottom: 0px;
	padding:10px;
	
}

